/* селектор {
    свойства: значение;
    свойства: значение;
    свойства: значение;
} */
* {
    box-sizing:border-box;
}

body {
    background-color: cornsilk;
}
h2 {
    color:red;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    font-size: 23px;
}

.text {
    font-weight: 700;
    text-transform: uppercase;
}

.chapter {
    color: deepskyblue;
}

#beginning {
    color: rgba(255, 20, 147, 1);
    font-weight: bold;
}
.box {
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color:green;
    /* padding: 20px 50px; */
    /* padding-top: 20px; */
    margin-top: 0px;
    padding: 20px;
    /* border-width: 3px;
    border-style: solid;
    border-color: black; */
    border: 3px solid black;
    margin: 20px;
    z-index: 3; /* Позиционирование по оси Z */
}
.pink {
    color: pink;
}

a {
    padding: 20px;
    margin: 20px;
    width: 500px;
}
img {
    display: block;
    margin: 0 auto;
    width: 500px;
}
.links {
    display: block;
    text-align: center;
}
/* Элементы:
1. Блочные
2. Строчные - нужны для наполнения сайта
3. Строчно-блочные */
nav {
    position: inherit; /* static, relative, absolute (работает только внутри родителя с relative, иначе будем перемещать внутри body) */
    right: 0px;        /*     fixed (фиксированное), inherit */
    top: 50px;
}

.example {
    position: relative;
}
divspan + p > div { /* vw - 1/100 ширины окна   vh - 1/100 высоты окна */
    background-color: red;
    width: 50vw;
    height: 10vh;
}